{# app/Resources/views/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
<style>
        body{
            background-image:url(http://img0.mxstatic.com/wallpapers/bab3bc1c736dc3deaa5ce13ea9444d09_large.jpeg);
        color:rgba(51, 51, 51, 0.77) !important;
        /*font-size: 20px !important;*/
        margin-left: -145px;
            margin: -22px;
        }
        .jumbotron h1 {
            font-size: 104px !important;
        }
        .jumbotron {
            font-family: Arnoldboecklin, fantasy;
            /*background-color:#F2F0E3 !important;*/
            padding:63px !important;
            background-color: rgba(0, 255, 255, 0)!important;
        }
        .well {
            min-height: 31px;
            padding: 39px;
            margin-bottom: 54px;
            background-color: rgba(247, 199, 200, 0.36) !important;
            border: 5px solid rgba(0, 255, 255, 0S) !important;
            border-ridge: 54px !important;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        }

        label.required {
            padding: 8px;
            font-style: normal;
            font-size: large;
        }
        label.required {
            padding: 8px;
        }
        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 32px;
            font-weight: 700;
        }


        textarea {
            
            overflow-x: inherit;
            overflow-y: hidden;
        }

        h2, .h2 {
            font-size: 40px !important;
            font-family: Arnoldboecklin, fantasy;
        }

        a.type1 { color: #F8F8FF; }
		a.type1:hover { color: yellow;}

		a.type2 { color: #F8F8FF; }
		a.type2:hover { color: green; }
    
       
 </style>













<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% block title %}OC Plateforme{% endblock %}</title>

{% block stylesheets %}
{# On charge le CSS de bootstrap depuis le site directement #}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
{% endblock %}
</head>

<body>
<div class="container">
<div id="header" class="jumbotron">
<h1> Voyager moins bête..</h1>
<p>
Bon plans et astuces qui vous feront gagner du temps et de l'argent !  
</p>
<p>
<a class="btn btn-primary btn-lg" href="https://www.facebook.com/Voyager-Moins-Bête-198029547199834/?skip_nax_wizard=true">
Rejoignez nous !
</a>
</p>
</div>

<div class="row">
<div id="menu" class="col-md-3">
<h3> Menu </h3>
<ul class="nav nav-pills nav-stacked">
<li><a href="{{ path('oc_platform_home') }}"  class="type1" >Accueil</a></li>
<li><a href="{{ path('oc_platform_add') }}" class="type2">Plus d'Articles </a></li>
</ul>

<h4>A ne pas rater ! </h4>
{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
</div>
<div id="content" class="col-md-9">
{% block body %}
{% endblock %}
</div>
</div>

<hr>

<footer>
<p>Par RAMRAMI Alexandra et NAVARATNAM Nirosan - {{ 'now'|date('Y') }} </p>
</footer>


</div>

{% block javascripts %}
{# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>